@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

/* CSS variables */
:root {
    --heading-font: "Roboto Slab", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

/* Global styles */

body {
    font-family: var(--body-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

/* Navigation styles */

/* Header section */

/* Main section */

/* Footer section */

/* Error pages */
