@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

/* CSS variables */
:root {
    --font-heading: "Roboto Slab", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --colour-first: #071D49;
    --colour-second: #0A70DC;
    --colour-second-highlight: #0857AB;
    --colour-third: #EFF7FF;
    --colour-third-highlight: #C2E0FF;
}

/* Global styles */

body {
    font-family: var(--font-body);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    color: var(--colour-first);
}

/* Navigation styles */

#main-nav {
    background-color: var(--colour-third);
}

.main-nav-item:hover {
    background-color: var(--colour-third-highlight);
}

.btn.qs-btn {
    background-color: var(--colour-second);
    color: #FFF;
}

.btn.qs-btn:hover {
    background-color: var(--colour-second-highlight);
}

.btn.qs-btn-outline {
    color: var(--colour-second);
}

.btn.qs-btn-outline:hover {
    color: var(--colour-first);
    background-color: var(--colour-third);
}

.nav-active {
    font-weight: bold;
}

/* Header section */

#site-title {
    display: none;
}

/* Main section */

.header-link {
    text-decoration: none;
    color: var(--colour-first);
}

.header-link:hover {
    text-decoration: underline;
}

.feature-img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    height: auto;
}

.post-list-desc {
    display: none;
}

.post-meta {
    color: var(--colour-second-highlight);
    font-weight: 700;
    font-size: 0.875rem;
}

.post-thumb {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.btn.qs-btn {
    color: var()
}

/* Footer section */

.social-link {
    font-size: 2rem;
    padding: 1rem;
    color: var(--colour-second);
}

/* Error pages */


/* Media queries */
@media only screen and (min-width: 768px) {
    .post-thumb {
        border-top-right-radius: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .post-thumb {
        border-bottom-left-radius: 0.25rem;
    }
}
