{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Blog post detail -->
<div class="container p-3">
  <article class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h2>{{ post.title }}</h2>
      {% if "placeholder" in post.image.url %}
      <!-- alt is blank so screen readers skip these decorative images -->
      <img src="{% static 'images/default.jpg' %}" class="feature-img" alt="">
      {% else %}
      <img src="{{ post.image.url }}" class="feature-img" alt="">
      {% endif %}
      <p class="post-meta">{{ post.updated | date:"M j, Y" }} - {{ post.category.name }}</p>
      {{ post.content | safe }}
      {% if user.is_authenticated %}
      {{ post.premium_content | safe }}
      {% else %}
      <div class="card p-3 border-3 bg-light">
        <h2>Premium content</h2>
        <div class="card-body">
          <p>The rest of this article is available to logged-in subscribers only.</p>
          <p>To view this content, please sign up or log in.</p>
          <a class="btn btn-primary me-1 qs-btn" href="{{ signup_url }}">Sign up</a>
          <a class="btn btn-outline-primary qs-btn-outline" href="{{ login_url }}">Log in</a>
        </div>
      </div>
      {% endif %}
    </div>
  </article>
</div>
<!-- Blog comments section -->
<section class="container p-3">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card p-3">
        <h3>Continue the discussion</h3>
        <div class="card-body">
          <!-- Comment form -->
          {% if user.is_authenticated %}
          <h4>Leave a comment as "{{ user }}"</h4>
          <form id="commentForm" method="POST" class="my-3">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn qs-btn">Submit</button>
          </form>
          {% else %}
          <p class="fw-bold">Sign up or log in to leave a comment.</p>
          <a class="btn btn-primary me-1 qs-btn" href="{{ signup_url }}">Sign up</a>
          <a class="btn btn-outline-primary qs-btn-outline" href="{{ login_url }}">Log in</a>
          {% endif %}
          <!-- Comments -->
          {% for comment in comments %}
          {% if comment.approved or user == comment.author %}
          <article class="my-3 py-3 rounded-3 {% if not comment.approved %}px-3 bg-light{% endif %} ">
            <h3 class="comment-heading">{{ comment.author }} - {{ comment.created  | date:"M j, Y" }}</h3>
            {% if not comment.approved %}
            <p class="fw-bold fst-italic text-danger">This comment is waiting to be approved.</p>
            {% endif %}
            <div id="comment{{ comment.id }}">{{ comment.content | linebreaks }}</div>
            {% if user.is_authenticated and user == comment.author %}
            <button class="btn btn-primary qs-btn edit-btn" data-comment-id="{{ comment.id }}">Edit</button>
            <button class="btn btn-outline-primary qs-btn-outline delete-btn" data-comment-id="{{ comment.id }}">Delete</button>
            {% endif %}
          </article>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal: Confirm comment delete -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">Delete comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete your comment? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="confirm-delete" href="#" class="btn btn-primary qs-btn">Confirm Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}