{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Blog post detail -->
{% block content %}
<section class="container p-3">
  <article class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h2>{{ post.title }}</h2>
      {% if "placeholder" in post.image.url %}
      <img src="{% static 'images/default.jpg' %}" class="feature-img" alt="Blog post header image">
      {% else %}
      <img src="{{ post.image.url }}" class="feature-img" alt="Blog post header image">
      {% endif %}
      <p class="post-meta">{{ post.updated | date:"M j, Y" }} - {{ post.category.name }}</p>
      {{ post.content | safe }}
    </div>
  </article>
</section>
<!-- Blog comments section -->
<section class="container p-3">
  <article class="row justify-content-center">
    <div class="col-md-8 col-lg-6 card p-3">
      <h3>Continue the discussion</h3>
      <!-- Comment form -->
      <div class="card-body">
        {% if user.is_authenticated %}
        <h4>Leave a comment as "{{ user }}"</h4>
        <form id="commentForm" method="POST" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn qs-btn">Submit</button>
        </form>
        {% else %}
        <p class="fw-bold">Log in to leave a comment</p>
        {% endif %}
      </div>
      <!-- Comments -->
      <div class="card-body">
        {% for comment in comments %}
        {% if comment.approved or user == comment.author %}
        <article class="p-3 rounded-3 {% if not comment.approved %}bg-light{% endif %} ">
          <p class="post-meta">
            {{ comment.author }} - {{ comment.created  | date:"M j, Y" }}
          </p>
          <p class="fw-bold fst-italic text-danger">
            {% if not comment.approved %}This comment is waiting to be approved.{% endif %}
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.content | linebreaks }}
          </div>
          {% if user.is_authenticated and user == comment.author %}
          <button class="btn btn-primary qs-btn edit-btn" data-comment-id="{{ comment.id }}">Edit</button>
          {% endif %}
        </article>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </article>
</section>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}