{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="description"
        content="Quality Shares, information and education for investors seeking high-quality companies and high-quality returns."
    >
    <title>Quality Shares</title>
    <!-- Bootstrap link -->
     <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous"
    >
    <!-- Favicon.io links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicons/site.webmanifest" %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>Base Header</header>
    <main>
        <p>Base Main</p>
        {% block content %}
        <!-- Add content here using child templates -->
        {% endblock content %}
    </main>
    <footer>Base Footer</footer>
</body>
</html>