{% load static %}
{% url "post-list" as post_list_url %}
{% url "portfolio" as portfolio_url %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Quality Shares, information and education for investors seeking high-quality companies and high-quality returns."
    />
    <title>Quality Shares</title>
    <!-- Bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- Favicon.io links -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicons/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}" />
    <!-- Font Awesome kit -->
    <script
      src="https://kit.fontawesome.com/8f0e12a819.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom CSS link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <!-- flex-column and min-vh-100 enable footer to stick to bottom -->
  <body class="d-flex flex-column min-vh-100">
    <header>
      <!-- Site header with logo and login/out buttons -->
      <nav class="navbar navbar-expand">
        <div class="container position-relative">
          <a href="#" class="navbar-brand">
            <img src="{% static 'images/logo-50x50.png' %}" alt="logo" />
          </a>
          <h1
            id="site-title"
            class="position-absolute top-50 start-50 translate-middle d-md-inline"
          >
            Quality Shares
          </h1>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="btn btn-primary me-1 qs-btn">Sign up</a>
            </li>
            <li class="nav-item">
              <a href="#" class="btn btn-outline-primary qs-btn-o">Log in</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Main navigation menu -->
      <nav id="main-nav" class="navbar navbar-expand">
        <div class="container justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item main-nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item main-nav-item">
              <a
                href="{% url 'post-list' %}"
                class="nav-link {% if request.path == post_list_url %}active" aria-current="page{% endif %}">Archive</a
              >
            </li>
            <li class="nav-item main-nav-item">
              <a
                href="{% url 'portfolio' %}"
                class="nav-link {% if request.path == portfolio_url %}active"aria-current="page{% endif %}">Portfolio</a
              >
            </li>
            <li class="nav-item main-nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}
      <!-- Add content here using child templates -->
      {% endblock content %}
    </main>
    <!-- Footer containing contact details -->
    <!-- Note: mt-auto allows footer to stick to bottom -->
    <footer class="mt-auto bg-light">
      <div class="container py-3">
        <div class="row">
          <!-- Contact details -->
          <div class="col text-center">
            <h2 class="h5">Contact Details</h2>
            <p>Email: hello@example.com</p>
            <p>Address: 123 Example Street, Example City, UK</p>
          </div>
          <!-- Social media links -->
          <div class="col-12 d-flex justify-content-center">
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              aria-label="Visit our LinkedIn social media page (opens in a new tab)"
            >
              <i class="fa-brands fa-linkedin social-link"></i>
            </a>
            <a
              href="https://bsky.app/"
              target="_blank"
              aria-label="Visit our BlueSky social media page (opens in a new tab)"
            >
              <i class="fa-brands fa-square-bluesky social-link"></i>
            </a>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              aria-label="Visit our Facebook social media page (opens in a new tab)"
            >
              <i class="fa-brands fa-square-facebook social-link"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
